.postListContainer {
   // background-color: red;
    width: 59.5%;
    min-width: 450px;
    height: max-content;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

